# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

# Gradle directories
/build/
/.gradle/
.idea/data_source_mapping.xml
.idea/sqldialects.xml
.idea/workspace.xml
/.idea
/.idea
/.idea
/.idea/dataSources
.idea/workspace.xml
/.idea
.DS_Store
gradle/wrapper/gradle-wrapper.jar
.intellijPlatform
